@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-image:  linear-gradient(rgba(118, 97, 236, 0.8),rgba(244, 138, 138, 0.8))
}

nav{
    font-family: 'Ubuntu', sans-serif;}

nav ul{
    display: flex;
    list-style-type: none;
    height: 56px;
    background-color: black;
    color: white;
    align-items: center;
}

.brand img{
    width: 115px;
}

nav ul li{
    padding: 0 15px;
}

.container{

    min-height: 77.5vh;
    background-color: black;
    color: white;
    font-family: 'Ubuntu', sans-serif; 
    display: flex;
    margin: 10px auto;
    width: 80%;
    border-radius: 14px;
    background-image: url('bil.png');
    padding: 25px;
    
}

.bottom{
    position: sticky;
    height: 80px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 15px;
}

.icons i{
    cursor:pointer;
}

#progbar{
    width: 70vw;
    cursor: pointer;
}

.songitem
{
height: 50px;
display: flex;
/* background-color: white; */

width: 140%;
color: black;
margin: 15px 0;
justify-content: space-between;
align-items: center;
border-radius: 7px;
/* background-image:  linear-gradient(rgba(118, 97, 236, 0.8),rgba(244, 138, 138, 0.8)); */
background: transparent;
}

.songitem img
{
    width: 44px;
    margin-left: 5px;
    border-radius: 25px;
}

.timespan{
    margin-right: 8px;
}

.songitem i{
    cursor: pointer;
}

.songlistcnt{
    margin-top: 45px;
}

h1{
        margin-left: 220px;
        color: rgb(21, 28, 30);
}

.songinfo{
    position: absolute;
    left: 14.5vw;
    font-family: 'Ubuntu', sans-serif;
    color: white;

}

.songinfo img{
    opacity: 0;
    transition: opacity 0.6s ease-in;
    
}

#gif{
    padding-top: 15px;
}